.btn-color {
  background-color: var(--secondary);
}

.btn-color:hover {
  background-color: var(--light);
  font-color: var(--primary);
}

.bg-primary {
  background-color: var(--secondary) !important;
  border-color: #F7FAFF
}

.bg-primary:hover {
  background-color: var(--light) !important;
  color: var(--secondary) !important;
  border-color: #F7FAFF
}

.container-xxl {
  height: 100%;
  width: 100%;
}

@media (max-width: 991.98px) {
  img {
    display: none !important;
  }
}
