.best-seller {
  z-index: 1;
  position: absolute;
  margin-bottom: 118% !important;
}

@media (min-width: 991px) {
  best-seller {
    margin-bottom: 160% !important;
  }
}


@media (min-width: 768px) {
  best-seller {
    margin-bottom: 87% !important;
  }
}


  @media (min-width: 600px) {
    best-seller {
      margin-bottom: 87% !important;
    }
}
