<div class="py-5 btn-primary mb-5">
  <div class="container my-5 py-5 px-lg-5">
    <div class="align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white animated zoomIn mt-5">WEBCOME & CO <br> Développe <span class="btn-color-secondary"> Le succées de vos projets ! </span></h1>
        <p class="mt-5 text-center animated zoomIn"></p>
      </div>
    </div>
  </div>
</div>

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline text-primary ps-4">Nos Services</h6>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-chart-line fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Référencement naturel</h5>
          <p>Positionnez votre site sur les premiers résultats de Google pour générer durablement des visites qualifiées
            avec l’accompagnement de notre équipe ! Le SEO est le premier levier d’acquisition de trafic.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
            Audit SEO complet : Analyse approfondie de la performance de votre site pour identifier les axes d’amélioration en matière de référencement naturel.
            Optimisation technique SEO : Amélioration de la structure du site (balises, vitesse de chargement, URLs, etc.) pour un meilleur classement dans les moteurs de recherche.
            Création de contenu optimisé SEO : Rédaction de contenus stratégiques et enrichis en mots-clés pour attirer du trafic qualifié sur votre site.
            Stratégie de backlinks et netlinking : Mise en place de campagnes de construction de liens (backlinks) pour renforcer l'autorité de votre site web.
          -->
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-edit fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Webdesign</h5>
          <p>Facilitez la conversion de votre trafic en élaborant une navigation simplifiée respectant les usages web.
            Le webdesign s’inscrit parfaitement dans un travail d’optimisation du taux de conversion.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL A voir si on change pas le service
             Maintenance technique des sites web : Gestion des mises à jour de sécurité, résolutions de bugs et optimisation continue des performances de votre site.
             Support 24/7 : Assistance technique disponible à tout moment pour répondre rapidement aux incidents techniques et maintenir votre site en ligne.
         -->
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-hashtag fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Social media</h5>
          <p>Renforcez votre image en ligne et tissez des liens avec votre communauté grâce au talent d’une agence de
            social media management! Les médias sociaux permettent de répondre à beaucoup d’objectifs marketing.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
              Gestion de campagnes Google Ads : Création, optimisation et gestion de vos campagnes de publicité payante sur Google pour attirer des clients potentiels au bon moment.
              Publicité sur les réseaux sociaux (Facebook, Instagram, LinkedIn Ads) : Gestion de vos campagnes publicitaires sur les réseaux sociaux pour toucher votre cible avec des annonces percutantes.
              Remarketing et reciblage publicitaire : Mise en place de stratégies de remarketing pour re-cibler les utilisateurs qui ont déjà visité votre site et maximiser vos conversions.
          -->
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-envelope fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Content Marketing</h5>
          <p>Déployez une stratégie de contenu sur-mesure et faites-vous entendre avec le content marketing ! Nous
            imaginons et créons du contenu adapté à votre cible et à vos objectifs.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
              Mise en place d’outils de marketing automation : Automatisation des tâches répétitives comme l’envoi de mails, la segmentation de votre audience, ou le scoring des leads via des outils comme HubSpot, MailChimp, ou ActiveCampaign.
              Création de workflows automatisés : Développement de parcours utilisateurs automatisés pour améliorer la conversion des prospects tout au long du funnel marketing.
          -->
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Social Ads</h5>
          <p>Optimisez ou créez des campagnes Social media Ads mieux ciblées et plus performantes ! L’immense audience
            des principaux réseaux sociaux permet d’atteindre votre cible à coup sûr.</p>
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-code fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Développement d'Applications Web</h5>
          <p>Créer un site web esthétique, performant et optimisé pour la conversion du trafic grâce à notre agence web
            ! Nous vous aidons à concevoir ou à refondre votre site vitrine et e-commerce.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
          Conception de sites web sur mesure : Création de sites web adaptés à l’image de votre marque, avec un design unique et une ergonomie optimale pour offrir une expérience utilisateur engageante.
          Développement e-commerce : Mise en place de boutiques en ligne performantes et sécurisées (Shopify, WooCommerce, Magento), avec des fonctionnalités de paiement intégrées et une gestion facile des produits.
          Optimisation mobile (Responsive Design) : Création de sites 100% adaptés aux appareils mobiles pour offrir une expérience fluide sur smartphones et tablettes.
           -->
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Pack start  -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline text-primary ps-4">Découvrez nos solutions sur mesure</h6>
    </div>
    <div class="position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <p>Découvrez nos solutions sur mesure : que vous soyez une petite entreprise ou une marque internationale, nous
        avons les services qu'il vous faut pour renforcer votre présence en ligne et maximiser vos résultats.
        Nous partageons des valeurs, peut-être un peu non-conformistes, mais bien réelles et si vous êtes amené à
        travailler avec nous alors vous les expérimenterez forcément.
        Autant savoir où vous mettez les pieds dès maintenant !
        uniques.</p>
    </div>
    <div class="row g-4 d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="pack-item d-flex flex-column justify-content-center  rounded">
          <h4 class="btn-color-secondary text-center"> Pack Starter </h4>
          <p class="text-center">Idéal pour les petites entreprises et startups qui débutent en marketing digital et
            souhaitent établir leur présence en ligne.</p>
          <ul>
            <li>Audit de site web</li>
            <li>Création de profils sur les réseaux sociaux</li>
            <li>Stratégie de contenu de base</li>
            <li>SEO de base</li>
            <li>Rapport de performance mensuel</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="pack-item d-flex flex-column justify-content-center  rounded">
          <h4 class="btn-color-secondary text-center"> Pack Croissance </h4>
          <p class="text-center"> Parfait pour les entreprises en expansion qui souhaitent accroître leur visibilité et
            générer des leads qualifiés. </p>
          <ul>
            <li>Tous les services du Pack Starter, plus :</li>
            <li>Création de contenu</li>
            <li>Google Ads & Facebook Ads</li>
            <li>Rapports détaillés et analyse des KPIs</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="pack-item d-flex flex-column justify-content-center rounded">
          <h4 class="btn-color-secondary text-center"> Pack Performance </h4>
          <p class="text-center"> Conçu pour les entreprises bien établies qui visent à optimiser leur stratégie et
            maximiser leur ROI sur le long terme.</p>
          <ul>
            <li>Tous les services du Pack Croissance, plus :</li>
            <li>Stratégie complète de marketing de contenu</li>
            <li>Optimisation des taux de conversion (CRO) sur le site web</li>
            <li>Gestion de la réputation en ligne</li>
            <li>Création de landing pages personnalisées</li>
            <li>Reporting hebdomadaire avec recommandations stratégiques</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <a href="/contact" class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft btn-pack">Obtenir un devis gratuit </a>
      </div>
    </div>
  </div>
</div>

<!-- Pack end  -->
