<div class="py-5 btn-primary mb-5">
  <div class="container my-5 py-5 px-lg-5">
    <div class="align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white animated zoomIn mt-5">Webcome & Co <br> Développe <span class="btn-color-secondary"> Le Succès de vos projets ! </span>
        </h1>
        <p class="mt-5 text-center animated zoomIn"></p>
      </div>
    </div>
  </div>
</div>

<!-- Service Start -->
<app-service
  [sectionTitleService]="'Nos expertises'"
  [services]="services">
</app-service>
<!-- Service End -->

<!-- Pack start  -->
<!-- <div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline text-primary ps-4">Découvrez nos solutions sur mesure</h6>
    </div>
    <div class="position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <p>Découvrez nos solutions sur mesure : que vous soyez une petite entreprise ou une marque internationale, nous
        avons les services qu'il vous faut pour renforcer votre présence en ligne et maximiser vos résultats.
        Nous partageons des valeurs, peut-être un peu non-conformistes, mais bien réelles et si vous êtes amené à
        travailler avec nous alors vous les expérimenterez forcément.
        Autant savoir où vous mettez les pieds dès maintenant !
        uniques.</p>
    </div>
    <div class="row g-4 d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="pack-item d-flex flex-column justify-content-center  rounded">
          <h4 class="btn-color-secondary text-center"> Pack Starter </h4>
          <p class="text-center">Idéal pour les petites entreprises et startups qui débutent en marketing digital et
            souhaitent établir leur présence en ligne.</p>
          <ul>
            <li>Audit de site web</li>
            <li>Création de profils sur les réseaux sociaux</li>
            <li>Stratégie de contenu de base</li>
            <li>SEO de base</li>
            <li>Rapport de performance mensuel</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="pack-item d-flex flex-column justify-content-center  rounded">
          <h4 class="btn-color-secondary text-center"> Pack Croissance </h4>
          <p class="text-center"> Parfait pour les entreprises en expansion qui souhaitent accroître leur visibilité et
            générer des leads qualifiés. </p>
          <ul>
            <li>Tous les services du Pack Starter, plus :</li>
            <li>Création de contenu</li>
            <li>Google Ads & Facebook Ads</li>
            <li>Rapports détaillés et analyse des KPIs</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="pack-item d-flex flex-column justify-content-center rounded">
          <h4 class="btn-color-secondary text-center"> Pack Performance </h4>
          <p class="text-center"> Conçu pour les entreprises bien établies qui visent à optimiser leur stratégie et
            maximiser leur ROI sur le long terme.</p>
          <ul>
            <li>Tous les services du Pack Croissance, plus :</li>
            <li>Stratégie complète de marketing de contenu</li>
            <li>Optimisation des taux de conversion (CRO) sur le site web</li>
            <li>Gestion de la réputation en ligne</li>
            <li>Création de landing pages personnalisées</li>
            <li>Reporting hebdomadaire avec recommandations stratégiques</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <a class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft btn-pack" (click)="handleContactPage()">Obtenir un devis gratuit </a>
      </div>
    </div>
  </div>
</div>
-->

<!-- Pack end  -->
