<div class="py-5 btn-primary hero-header mb-5">
  <div class="container text-center my-5 py-5 px-lg-5">
      <h3 class="text-primary mb-4 animated zoomIn">
        <i class="fa fa-rocket fa-1x text-secondary"></i> &ensp; Agence de Marketing Digital
        <br> <i class="fa fa-globe fa-1x text-secondary"></i> &ensp; Création de sites web & stratégie digitale.
        <br> <i class="fa fa-angle-double-up fa-1x text-secondary"></i> &ensp; Boostez vos ventes et votre présence en ligne !
      </h3>
      <a class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft"
         (click)="handleContactPage()">Contactez-nous !</a>
      <a class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill animated slideInRight"
         (click)="handleAboutPage()">Nous découvrir</a>
  </div>
</div>


<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h6 class="position-relative text-primary ps-4"> Nous découvrir</h6>
          <h2 class="mt-2">Webcome & Co : Votre Partenaire en Performance Digital</h2>
        </div>
        <p class="mb-4">
          <span class="fw-bold">Vous cherchez à booster votre visibilité en ligne ?</span>
          <br> Webcome & Co est l’agence qu’il vous faut. Experts en création de sites web et stratégies digitales, nous
          développons des solutions
          sur-mesure pour maximiser vos résultats</p>
        <span class="fw-bold"> Pourquoi Choisir Webcome & Co ? </span>
        <ul>
          <li> Sites web performants : Conçus pour attirer, engager et convertir.</li>
          <li> Stratégies axées sur les résultats : Plus de trafic, plus de leads, plus de ventes.</li>
          <li> Expertise reconnue : SEO, campagnes publicitaires, gestion de contenu, tout y est.</li>
        </ul>
        <div class="fw-bold mb-2 pb-2"> Avec nous, vous obtenez des résultats rapides et mesurables. Ne laissez plus
          votre croissance au hasard :
          contactez Webcome & co et passez à la vitesse supérieure.
        </div>
        <div class="row g-3">
          <div class="col-sm-6">
            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Référencement</h6>
            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Transparence et communication</h6>
          </div>
          <div class="col-sm-6">
            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Expérience éprouvée</h6>
          </div>
        </div>
        <div class="d-flex align-items-center mt-4">
          <a class="btn btn-primary rounded-pill px-4 me-3" href="">En Savoir plus</a>
          <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid wow zoomIn mt-5" data-wow-delay="0.5s" src="assets/img/img-1.png">
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Service Start -->
<app-service
  [sectionTitleService]="'Nos Services'"
  [services]="services">
</app-service>
<!-- Service End -->

<!-- bar logos partenaires  -->
<app-review
  [sectionTitleReview]="'Avis clients'"
  [reviews]="reviews"
></app-review>

<!-- end logos partenaires  -->

<!--  Stratégie  -->

<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline ps-4"> Notre Méthodologie </h6>
    </div>

    <div class="section-step">

      <!-- step 1 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Audit</h5>
          <p>Nous passons en revue vos différents leviers de communication utilisés et réalisons un audit de votre
            présence en ligne.</p>
        </div>
      </div>
      <!-- end setp -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 2 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Stratégie</h5>
          <p>En collaboration avec vous, nous déterminons les leviers à activer pour booster votre notoriété et vos
            ventes !</p>
        </div>
      </div>
      <!-- end step -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 3 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Mise en oeuvre des actions</h5>
          <p>
            Développement de votre site web, gestion des compagnes publicitaires, optimisation SEO et bien plus.
            Augmentez votre visibilité et convertir vos visiteurs en clients.
          </p>
        </div>
      </div>
      <!-- end setp -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 4 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Ajustement et validation</h5>
          <p>Nous vous présentons tout le travail réalisé par nos équipe.
            Nous voyons ensembleles derniers ajustements, détails et souhaits de votre part avant le déploiement final
            du projet</p>
        </div>
      </div>
      <!-- end setp -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 5 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Maintenance et suivi</h5>
          <p>Notre travail ne s'arrête pas là. Nous suivons régulièrement les performances de vos actions grâce à des
            outils d'analyse. Nous ajustons, optimisons et mettons à jour en continu pour vous garantir des résultats
            durables, optimisés
            et toujours en croissance</p>
        </div>
      </div>
      <!-- end setp -->

    </div>
  </div>
</div>

<!--  end Stratégie  -->
<div class="bar-title">
  <div class="wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="text-center text-white m-3"> Profitez de cette opportunité unique pour booster votre <br> business !
    </h1>
  </div>
  <div class="wow fadeInUp">
    <a class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft m-3" (click)="handleContactPage()">Lançons ensemble votre réussite numérique </a>
  </div>
</div>

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline text-primary ps-4">Notre Equipe</h6>
      <h2 class="mt-2">Rencontrez Les Membres De Notre Equipe</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Charaf SFaoua</h5>
            <small>Co-Fondateur</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Théo Béthencourt</h5>
            <small>Co-Fondateur</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Lowencia Diony</h5>
            <small>Assistante de Direction</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Tasnime Badi</h5>
            <small>Assistante Comptable</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
