<div class="container-xxl py-5 btn-primary hero-header mb-5">
  <div class="container my-5 py-5 px-lg-5">
    <div class="row g-5 py-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="text-white mb-4 animated zoomIn"> Agence Digitale <br> Votre stratégie digitale va faire du bruit !
        </h1>
        <a href="/contact" class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Contactez-nous
          !</a>
        <a href="/about" class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill animated slideInRight">Nous
          découvrir</a>
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <img class="img-fluid" src="img/hero.png" alt="">
      </div>
    </div>
  </div>
</div>


<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h6 class="position-relative text-primary ps-4"> À propos de nous </h6>
          <h2 class="mt-2">La meilleure solution SEO avec 10 ans d'expérience</h2>
        </div>
        <p class="mb-4">Chez <span class="text-primary">WEBCOME & CO</span>, nous sommes une équipe passionnée de
          spécialistes du marketing digital,
          dédiée à transformer la présence en ligne de nos clients en véritable moteur de croissance. <br> Depuis notre
          création,
          nous avons accompagné des entreprises de toutes tailles à atteindre leurs objectifs,
          en combinant créativité, technologie et expertise stratégique.</p>
        <div class="row g-3">
          <div class="col-sm-6">
            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Approche orientée résultats</h6>
            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Transparence et communication</h6>
          </div>
          <div class="col-sm-6">
            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Expérience éprouvée</h6>
          </div>
        </div>
        <div class="d-flex align-items-center mt-4">
          <a class="btn btn-primary rounded-pill px-4 me-3" href="">En Savoir plus</a>
          <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="assets/img/about.jpg">
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline text-primary ps-4">Nos Services</h6>
      <h2 class="mt-2">Quelles Solutions Nous Proposons</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-chart-line fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Référencement naturel</h5>
          <p>Positionnez votre site sur les premiers résultats de Google pour générer durablement des visites qualifiées
            avec l’accompagnement de notre équipe ! Le SEO est le premier levier d’acquisition de trafic.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
            Audit SEO complet : Analyse approfondie de la performance de votre site pour identifier les axes d’amélioration en matière de référencement naturel.
            Optimisation technique SEO : Amélioration de la structure du site (balises, vitesse de chargement, URLs, etc.) pour un meilleur classement dans les moteurs de recherche.
            Création de contenu optimisé SEO : Rédaction de contenus stratégiques et enrichis en mots-clés pour attirer du trafic qualifié sur votre site.
            Stratégie de backlinks et netlinking : Mise en place de campagnes de construction de liens (backlinks) pour renforcer l'autorité de votre site web.
          -->
          <a class="btn px-3 mt-auto mx-auto" href="">En Savoir plus</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-edit fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Webdesign</h5>
          <p>Facilitez la conversion de votre trafic en élaborant une navigation simplifiée respectant les usages web.
            Le webdesign s’inscrit parfaitement dans un travail d’optimisation du taux de conversion.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL A voir si on change pas le service
             Maintenance technique des sites web : Gestion des mises à jour de sécurité, résolutions de bugs et optimisation continue des performances de votre site.
             Support 24/7 : Assistance technique disponible à tout moment pour répondre rapidement aux incidents techniques et maintenir votre site en ligne.
         -->
          <a class="btn px-3 mt-auto mx-auto" href="">En Savoir plus</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-hashtag fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Social media</h5>
          <p>Renforcez votre image en ligne et tissez des liens avec votre communauté grâce au talent d’une agence de
            social media management! Les médias sociaux permettent de répondre à beaucoup d’objectifs marketing.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
              Gestion de campagnes Google Ads : Création, optimisation et gestion de vos campagnes de publicité payante sur Google pour attirer des clients potentiels au bon moment.
              Publicité sur les réseaux sociaux (Facebook, Instagram, LinkedIn Ads) : Gestion de vos campagnes publicitaires sur les réseaux sociaux pour toucher votre cible avec des annonces percutantes.
              Remarketing et reciblage publicitaire : Mise en place de stratégies de remarketing pour re-cibler les utilisateurs qui ont déjà visité votre site et maximiser vos conversions.
          -->
          <a class="btn px-3 mt-auto mx-auto" href="">En Savoir plus</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-envelope fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Content Marketing</h5>
          <p>Déployez une stratégie de contenu sur-mesure et faites-vous entendre avec le content marketing ! Nous
            imaginons et créons du contenu adapté à votre cible et à vos objectifs.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
              Mise en place d’outils de marketing automation : Automatisation des tâches répétitives comme l’envoi de mails, la segmentation de votre audience, ou le scoring des leads via des outils comme HubSpot, MailChimp, ou ActiveCampaign.
              Création de workflows automatisés : Développement de parcours utilisateurs automatisés pour améliorer la conversion des prospects tout au long du funnel marketing.
          -->
          <a class="btn px-3 mt-auto mx-auto" href="">En Savoir plus</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Social Ads</h5>
          <p>Optimisez ou créez des campagnes Social media Ads mieux ciblées et plus performantes ! L’immense audience
            des principaux réseaux sociaux permet d’atteindre votre cible à coup sûr.</p>
          <a class="btn px-3 mt-auto mx-auto" href="">En savoirs plus</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-code fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Développement d'Applications Web</h5>
          <p>Créer un site web esthétique, performant et optimisé pour la conversion du trafic grâce à notre agence web
            ! Nous vous aidons à concevoir ou à refondre votre site vitrine et e-commerce.</p>
          <!-- PARAGRAPHE A RAJOUTER SUR LA MODAL
          Conception de sites web sur mesure : Création de sites web adaptés à l’image de votre marque, avec un design unique et une ergonomie optimale pour offrir une expérience utilisateur engageante.
          Développement e-commerce : Mise en place de boutiques en ligne performantes et sécurisées (Shopify, WooCommerce, Magento), avec des fonctionnalités de paiement intégrées et une gestion facile des produits.
          Optimisation mobile (Responsive Design) : Création de sites 100% adaptés aux appareils mobiles pour offrir une expérience fluide sur smartphones et tablettes.
           -->
          <a class="btn px-3 mt-auto mx-auto" data-bs-target="#staticBackdrop" data-bs-toggle="modal">En Savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- bar logos partenaires  -->
<div class="overflow-hidden">
  <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="position-relative d-inline text-primary ps-4">Nos Partenaires</h6>
  </div>
  <div class="body wow fadeInUp" data-wow-delay="0.1s">
    <div class="images">
      <img src="../../assets/img/réseau_entreprendre.png" class="d-block w-100 m-3">
      <img src="../../assets/img/gg-parteners.png" class="d-block w-100 m-3">
      <img src="../../assets/img/réseau_entreprendre.png" class="d-block w-100 m-3">
      <img src="../../assets/img/réseau_entreprendre.png" class="d-block w-100 m-3">
      <img src="../../assets/img/réseau_entreprendre.png" class="d-block w-100 m-3">
      <img src="assets/img/initiative-rennes.png" class="d-block w-100 m-3">
      <img src="assets/img/initiative-rennes.png" class="d-block w-100 m-3">
      <img src="../../assets/img/réseau_entreprendre.png" class="d-block w-100 m-3">
      <img src="assets/img/initiative-rennes.png" class="d-block w-100 m-3">
      <img src="../../assets/img/réseau_entreprendre.png" class="d-block w-100 m-3">
      <img src="../../assets/img/réseau_entreprendre.png" class="d-block w-100 m-3">
    </div>
  </div>
</div>

<!-- end logos partenaires  -->

<!--  Stratégie  -->

<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline ps-4"> Notre Méthodologie </h6>
      <h2>Itération et Scale</h2>
    </div>

    <div class="section-step">

      <!-- step 1 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Audit</h5>
          <p>Nous passons en revue vos différents leviers de communication utilisés et réalisons un audit de votre
            présence en ligne.</p>
        </div>
      </div>
      <!-- end setp -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 2 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Stratégie</h5>
          <p>En collaboration avec vous, nous déterminons les leviers à activer pour booster votre notoriété et vos
            ventes !</p>
        </div>
      </div>
      <!-- end step -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 3 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Itération</h5>
          <p>Nous créons des campagnes selon les leviers choisis et testons plusieurs variantes de textes et visuels,
            pour déterminer les formats les plus performants.</p>
        </div>
      </div>
      <!-- end setp -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 4 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Reporting</h5>
          <p>Après quelques tests, nous vous communiquons les premiers résultats via un rapport de performance et
            définissons ensemble les futures actions à mettre en place.</p>
        </div>
      </div>
      <!-- end setp -->
      <div class="d-flex flex-column justify-content-center">
        <p>&#10140;</p>
      </div>
      <!-- step 5 -->
      <div class="col-lg-3 p-4 wow zoomIn" data-wow-delay="0.6s">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
          <h5>Accéleration</h5>
          <p>Par rapport à vos priorités, nous lançons de manière ponctuelle des campagnes, dans une démarche ROIste</p>
        </div>
      </div>
      <!-- end setp -->

    </div>
  </div>
</div>

<!--  end Stratégie  -->

<div class="bar-title">
  <div class="wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="text-center text-white m-3"> Profitez de cette opportunité unique pour booster votre <br> business !
    </h1>
  </div>
  <div>
    <a href="" class="btn bg-primary text-white py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft m-3">Contactez-nous</a>
  </div>
</div>


<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="position-relative d-inline text-primary ps-4">Notre Equipe</h6>
      <h2 class="mt-2">Rencontrez Les Membres De Notre Equipe</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Charaf SFaoua</h5>
            <small>Co-Fondateur</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Théo Béthencourt</h5>
            <small>Co-Fondateur</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Lowencia Diony</h5>
            <small>Assistante de Direction</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-item">
          <div class="d-flex">
            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <img class="img-fluid rounded w-100" src="assets/img/team-3.jpg" alt="">
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Tasnime Badi</h5>
            <small>Assistante Comptable</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team End -->
